In [1]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

In [2]:
from tinydb import TinyDB, where
from matplotlib import pyplot
import numpy as np
import pandas

import sys
sys.path.append('../tasks')

from data import ALL_REGRESSION_DATATSETS, ALL_CLASSIFICATION_DATATSETS

regression_datasets = list(ALL_REGRESSION_DATATSETS.keys())
regression_datasets.sort()

classification_datasets = list(ALL_CLASSIFICATION_DATATSETS.keys())
classification_datasets.sort()

In [11]:
db = TinyDB('results_db.json').table('regression')

fields = ['dataset', 'N', 'D', 'linear', 'SVGP', 'DGP']
results = {f:[] for f in fields}

for dataset in regression_datasets:
    results['dataset'].append(dataset)
    results['N'].append(ALL_REGRESSION_DATATSETS[dataset].N)
    results['D'].append(ALL_REGRESSION_DATATSETS[dataset].D)
    
    for model, name in [['linear', 'lin'], 
                        ['variationally_sparse_gp', 'SVGP'],
                        ['deep_gp_doubly_stochastic', 'DGP'],
                        ]:
        res = db.search((where('model')==model) & (where('dataset')==dataset))
        if len(res)>0:
            L = [r['test_loglik_unnormalized'] for r in res]
            m = np.average(L)
            r = '{:.3f}'.format(m)
#             stderr = np.std(L)/float(len(L))**0.5
#             r = '{:.3f} ({:.3f})'.format(m, stderr)
        else:
            r = ''
        results[name].append(r)

print(pandas.DataFrame(results).to_latex(columns=fields, index=False))

\begin{tabular}{lrrlll}
\toprule
   dataset &      N &   D &  linear &    SVGP &     DGP \\
\midrule
    boston &    506 &  13 &  -2.762 &         &         \\
  concrete &   1030 &   8 &  -3.780 &         &         \\
    energy &    768 &   8 &  -2.385 &  -1.160 &         \\
    kin8nm &   8192 &   8 &   0.216 &         &         \\
     naval &  11934 &  12 &   3.764 &   5.461 &         \\
     power &   9568 &   4 &  -2.977 &         &         \\
   protein &  45730 &   9 &  -3.059 &  -3.014 &         \\
   winered &   1599 &  11 &  -0.920 &  -0.858 &  -0.863 \\
 winewhite &   4898 &  12 &  -1.093 &  -1.015 &         \\
     yacht &    308 &   6 &  -3.704 &  -0.830 &  -1.240 \\
\bottomrule
\end{tabular}

In [12]:
fields = ['dataset', 'N', 'D', 'K', 'linear', 'SVGP', 'DGP']
results = {f:[] for f in fields}

db = TinyDB('results_db.json').table('classification')


for dataset in classification_datasets:
    results['dataset'].append(dataset[:3])
    results['N'].append(ALL_CLASSIFICATION_DATATSETS[dataset].N)
    results['D'].append(ALL_CLASSIFICATION_DATATSETS[dataset].D)
    results['K'].append(ALL_CLASSIFICATION_DATATSETS[dataset].K)
    
    for model, name in [['linear', 'lin'], 
                        ['variationally_sparse_gp', 'SVGP'],
                        ['deep_gp_doubly_stochastic', 'DGP']
                        ]:
        res = db.search((where('model')==model) & (where('dataset')==dataset) & (where('task')=='classification'))
        if len(res)>0:
            L = [r['test_acc'] for r in res]
            m = np.average(L)
            r = '{:.3f}'.format(m)
#             stderr = np.std(L)/float(len(L))**0.5
#             r = '{:.3f} ({:.3f})'.format(m, stderr)
        else:
            r = ''
        results[name].append(r)

print(pandas.DataFrame(results).to_latex(columns=fields, index=False))

\begin{tabular}{lrrrlll}
\toprule
dataset &       N &    D &    K & linear & SVGP & DGP \\
\midrule
    aba &    4177 &    9 &    3 &        &      &     \\
    acu &     120 &    7 &    2 &        &      &     \\
    acu &     120 &    7 &    2 &        &      &     \\
    adu &   48842 &   15 &    2 &        &      &     \\
    ann &     898 &   32 &    5 &        &      &     \\
    arr &     452 &  263 &   13 &        &      &     \\
    aud &     196 &   60 &   18 &        &      &     \\
    bal &     625 &    5 &    3 &        &      &     \\
    bal &      16 &    5 &    2 &        &      &     \\
    ban &    4521 &   17 &    2 &        &      &     \\
    blo &     748 &    5 &    2 &        &      &     \\
    bre &     286 &   10 &    2 &        &      &     \\
    bre &     699 &   10 &    2 &        &      &     \\
    bre &     569 &   31 &    2 &        &      &     \\
    bre &     198 &   34 &    2 &        &      &     \\
    bre &     106 &   10 &    6 &        &      &     \\
    car &    1728 &    7 &    4 &        &      &     \\
    car &    2126 &   22 &   10 &        &      &     \\
    car &    2126 &   22 &    3 &        &      &     \\
    che &   28056 &    7 &   18 &        &      &     \\
    che &    3196 &   37 &    2 &        &      &     \\
    con &     435 &   17 &    2 &        &      &     \\
    con &     208 &   61 &    2 &        &      &     \\
    con &     990 &   12 &   11 &        &      &     \\
    con &   67557 &   43 &    2 &        &      &     \\
    con &    1473 &   10 &    3 &        &      &     \\
    cre &     690 &   16 &    2 &        &      &     \\
    cyl &     512 &   36 &    2 &        &      &     \\
    der &     366 &   35 &    6 &        &      &     \\
    ech &     131 &   11 &    2 &        &      &     \\
    eco &     336 &    8 &    8 &        &      &     \\
    ene &     768 &    9 &    3 &        &      &     \\
    ene &     768 &    9 &    3 &        &      &     \\
    fer &     100 &   10 &    2 &        &      &     \\
    fla &     194 &   29 &    8 &        &      &     \\
    gla &     214 &   10 &    6 &        &      &     \\
    hab &     306 &    4 &    2 &        &      &     \\
    hay &     160 &    4 &    3 &        &      &     \\
    hea &     303 &   14 &    5 &        &      &     \\
    hea &     294 &   13 &    2 &        &      &     \\
    hea &     123 &   13 &    5 &        &      &     \\
    hea &     200 &   13 &    5 &        &      &     \\
    hep &     155 &   20 &    2 &        &      &     \\
    hil &    1212 &  101 &    2 &        &      &     \\
    hor &     368 &   26 &    2 &        &      &     \\
    ilp &     583 &   10 &    2 &        &      &     \\
    ima &    2310 &   19 &    7 &        &      &     \\
    ion &     351 &   34 &    2 &        &      &     \\
    iri &     150 &    5 &    3 &        &      &     \\
    led &    1000 &    8 &   10 &        &      &     \\
    len &      24 &    5 &    3 &        &      &     \\
    let &   20000 &   17 &   26 &        &      &     \\
    lib &     360 &   91 &   15 &        &      &     \\
    low &     531 &  101 &    9 &        &      &     \\
    lun &      32 &   57 &    3 &        &      &     \\
    lym &     148 &   19 &    4 &        &      &     \\
    mag &   19020 &   11 &    2 &        &      &     \\
    mam &     961 &    6 &    2 &        &      &     \\
    min &  130064 &   51 &    2 &        &      &     \\
    mol &     106 &   58 &    2 &        &      &     \\
    mol &    3190 &   61 &    3 &        &      &     \\
    mon &     556 &    7 &    2 &        &      &     \\
    mon &     601 &    7 &    2 &        &      &     \\
    mon &     554 &    7 &    2 &        &      &     \\
    mus &    8124 &   22 &    2 &        &      &     \\
    mus &     476 &  167 &    2 &        &      &     \\
    mus &    6598 &  167 &    2 &        &      &     \\
    nur &   12960 &    9 &    5 &        &      &     \\
    ooc &    1022 &   42 &    2 &        &      &     \\
    ooc &    1022 &   26 &    3 &        &      &     \\
    ooc &     912 &   26 &    2 &        &      &     \\
    ooc &     912 &   33 &    3 &        &      &     \\
    opt &    5620 &   63 &   10 &        &      &     \\
    ozo &    2536 &   73 &    2 &        &      &     \\
    pag &    5473 &   11 &    5 &        &      &     \\
    par &     195 &   23 &    2 &        &      &     \\
    pen &   10992 &   17 &   10 &        &      &     \\
    pim &     768 &    9 &    2 &        &      &     \\
    pit &     106 &    8 &    3 &        &      &     \\
    pit &     103 &    8 &    3 &        &      &     \\
    pit &      92 &    8 &    3 &        &      &     \\
    pit &     102 &    8 &    2 &        &      &     \\
    pit &     105 &    8 &    6 &        &      &     \\
    pla &     182 &   13 &    2 &        &      &     \\
    pla &    1600 &   65 &  100 &        &      &     \\
    pla &    1600 &   65 &  100 &        &      &     \\
    pla &    1599 &   65 &  100 &        &      &     \\
    pos &      90 &    9 &    3 &        &      &     \\
    pri &     330 &   18 &   15 &        &      &     \\
    rin &    7400 &   21 &    2 &        &      &     \\
    see &     210 &    8 &    3 &        &      &     \\
    sem &    1593 &  257 &   10 &        &      &     \\
    soy &     683 &   36 &   18 &        &      &     \\
    spa &    4601 &   58 &    2 &        &      &     \\
    spe &     265 &   23 &    2 &        &      &     \\
    spe &     267 &   45 &    2 &        &      &     \\
    sta &     690 &   15 &    2 &        &      &     \\
    sta &    1000 &   25 &    2 &        &      &     \\
    sta &     270 &   14 &    2 &        &      &     \\
    sta &    2310 &   19 &    7 &        &      &     \\
    sta &    6435 &   37 &    6 &        &      &     \\
    sta &   58000 &   10 &    7 &        &      &     \\
    sta &     846 &   19 &    4 &        &      &     \\
    ste &    1941 &   28 &    7 &        &      &     \\
    syn &     600 &   61 &    6 &        &      &     \\
    tea &     151 &    6 &    3 &        &      &     \\
    thy &    7200 &   22 &    3 &        &      &     \\
    tic &     958 &   10 &    2 &        &      &     \\
    tit &    2201 &    4 &    2 &        &      &     \\
    tra &      10 &   30 &    2 &        &      &     \\
    two &    7400 &   21 &    2 &        &      &     \\
    ver &     310 &    7 &    2 &        &      &     \\
    ver &     310 &    7 &    3 &        &      &     \\
    wal &    5456 &   25 &    4 &        &      &     \\
    wav &    5000 &   22 &    3 &        &      &     \\
    wav &    5000 &   41 &    3 &        &      &     \\
    win &     178 &   14 &    3 &        &      &     \\
    win &    1599 &   12 &    6 &        &      &     \\
    win &    4898 &   12 &    7 &        &      &     \\
    yea &    1484 &    9 &   10 &        &      &     \\
    zoo &     101 &   17 &    7 &        &      &     \\
\bottomrule
\end{tabular}